body {
  width: 400px;
  padding: 1em;
}

h1, h2 {
  border-bottom: 1px solid;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%
}

.buttonSeeItLater {
  background-color: #497ff3;
}

.buttonAlreadySaw {
  background-color: #f34f49;
}

.buttonNext {
  background-color: #58ba2a;
}

.buttonUndo {
  background-color: #f3497f;
}